# Ignore virtual environment directory
/.venv
/db

# Ignore installed packages
/__pycache__/
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key


server/app.py